body{
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 500px;
    text-align: center;
    background-color: azure;
}
h1{
    font-size: 70px;
}
label {font-size: 20px;padding: 10px;margin:10px;line-height: 30px;}
 
.playGame{
    margin-top: 50px;
    font-size: 40px;
}
.nextQuestion {display: none;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#choisess {text-align: left; width: fit-content; margin: auto;}

#qInfo p {display: inline-block; min-width: 150px;}